{{ define "main" -}}

<link rel="stylesheet" href="css/w3-no-fonts.css">

<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/highlight.min.css">
<link rel="stylesheet" href="css/main-minimal.css">

<h1> ALF Association </h1>

<br>

We are a registered non-profit and our goal is to support the <i><b>A</b>lgorithms for <b>L</b>attice <b>F</b>ermions</i> (ALF) project.
<p></p>

<br>
We strive to obtain funding for the package's:
<ul>
  <li> maintenance</li>
  <li> improvement and</li>
  <li> user base support and growth</li>
</ul>

<br>
The ALF package provides an open-source, high-performance, general code for auxiliary-field quantum Monte Carlo simulations.

<br>

{{- end }}
