{{ define "main" -}}

<link rel="stylesheet" href="css/w3-no-fonts.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/highlight.min.css">
<link rel="stylesheet" href="css/main-minimal.css">

<h1> ALF Association </h1>

<br>

We are a registered non-profit with the goal of promoting and further supporting the <i><b>A</b>lgorithms for <b>L</b>attice <b>F</b>ermions</i> (ALF) project.
<p></p>

ALF is a state-of-the-art, high-performance quantum simulation package. You can read more about the open-source project <a href="/pages/about">here</a>.
<p></p>

Contributions from members and donors ensure our continued support to ALF's:
<p></p>
<ul>
  <li> Ease of use</li>
  <li> User support</li>
  <li> Community building</li>
  <li> Continuous development</li>
  <li> Education</li>
</ul>

See how we have been doing this <a href="/pages/aboutus">here</a>.
<p> </p>

Donations can be made directly to our bank <a href="/ALFeV-bank_acc.txt">account</a> or through the Liberapay platform: <b> <script src="https://liberapay.com/ALF_Collaboration/widgets/button.js"></script> <noscript><a href="https://liberapay.com/ALF_Collaboration/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a></noscript></b>.
<!-- The above adds a Liberapay Donate button -->
Please consider <a href="/pages/join">joining</a> the association as well.
<p></p>


{{- end }}
